/*Logo Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Montserrat&display=swap');

/*Main Font*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



:root {
    --eerie-black: #1C1C1C;
    --platinum: #DADDD8;
    --alabaster: #ECEBE4;
    --anti-flash-white: #EEF2F0;
    --ghost-white: #FAFAFF;
}

body{
    background-color: var(--anti-flash-white);
}